__pycache__/
.pytest_cache/
*.pyc
license_admin/private_key.pem
config/commercial.json
*.db
backups/
logs/
.release/update_private.pem
update_private.pem
release/
installer/
dist/
build/
build-ui-kit/
release-ui-kit/
.nutridesktop_p3_backup/
*.nutri
*.nbak

license_server_data/
license_private.pem
server_secret.txt
licenses.db
config/license_public_key.pem
.nutridesktop_v4_backup/
